.notes__actions{
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.notes__title{
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
}