.form__select{
  width: 16rem
}
.form__err{
  text-align: center;
  color: #e74c3c;
}
.form__with-back{
  justify-content: space-between;
  display: flex;
  align-items: flex-start;
}
.form__spinner{
  margin-top: 10rem;
}