
:root{
  --bg-color:#EFEFEF;
  --btn-color:#CACBCD;
  --facebook-color:#304D8A;
  --err-color:#e74c3c;
  --google-color:#e74c3c;
}
.register{
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
.register__wrapper{
  background-color: #fff;
  width: 425px;
  padding: 24px 32px 32px 32px;
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15)
}
.register__form{
  font-size: 1rem
}
.register__title{
  margin-bottom: 2rem;
  font-size: 3rem;
  text-align: center;
}
.register__form input{
  padding: 1.3rem;
  margin-bottom: 1rem;
  font-size: 1.3rem;
  display: block;
  width: 100%;
  flex-grow: 1;
  border:.1rem solid #ddd;
  border-radius: .5rem;
}
.register__btn{
  background-color: var(--facebook-color);
  border: none;
  width: 100%;
  padding: 1rem;
  font-weight: 700;
  color: #fff;
  font-size: 1.2rem;
  margin-top: .5rem;
  cursor: pointer;
  box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34,36,38,.15) inset;
  border-radius: .2rem;
}
.register__error{
  color: var(--err-color);
  text-align: center;
}
.register__social--G{
  background-color: var(--google-color);
  color: #fff;
  font-weight: bold;
}
.register__social--F{
  background-color: var(--facebook-color);
  color: #fff;
  font-weight: bold;
}

.register__btn:active{
  transform: scale(1)
}
.register__info{
  margin-top: 1rem;
  font-size: 11px;
  color: darkgray;
  text-align: center
}