.donation__selectuser__container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.donation__searsh{
  width: 400px;
  margin-right: 1rem;
}

.userInfo__table{
  border-collapse: collapse;
  font-size: 1.5rem;
  table-layout: fixed;
  margin-top: 2rem;
}
.userInfo__table , .userInfo__table td{
  word-wrap:break-word;
  text-align: left;
  vertical-align: top;
}
.userInfo__table td{
  padding: 1rem;
}