:root{
  --main-color:#222;
  --err-color:#e74c3c;
  --info-color:#3498db;
}
.staff{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.staff__form {
  margin: 3.4rem 0;
  width: 450px;
  text-align: center

}
.staff__invite {
  margin: 1rem 0;
}
.staff__invite input {
  border: 0.1rem solid var(--main-color);
  border-radius: 1rem;
}

.staff__table{
  display: inline-block;
  width: 100%;
}
.staff__invitation-info{
  color: var(--info-color);
}

.staff__invitation-err{
  color: var(--err-color);
}
.staff__button {
  margin: 5px;
}