:root{
  --main-color:#222;
  --err-color:#e74c3c;
  --info-color:#3498db;
}
.family {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.family__table{
  display: inline-block;
  width: 100%;
}
.family__table .button {
  margin: 0 5px;
}
.family__header {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top {
  top: 40px;
}
.pull-right {
  float:right
}