.cases-calender .cases-calender__note{
  display: flex;
  justify-content: space-between;
}
.cases-calender__note-icon{
  font-size: 1.5rem;
  cursor: pointer;
}
.cases-calender__spinner{
  margin: 50% 50%;
}