.dashboard__h3{
  margin-top: 1rem;
  font-size: 2rem;
}
 .calender{
  margin-left: 4rem;
  flex-direction: column;
}
.dashboard__col .dashboard__card{
  margin-bottom: 1rem;
  border-radius: 7px;
  height: 50rem;
}
.dashboard__card-title{
  display: flex;
  justify-content: flex-start;
}
.dashboard__card-title img{
  margin-right: 1rem
}
.dashboard__card-title b,.dashboard__card-title a{
  color: #3e4d5f;
}
.dashboard__card__info{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dashboard__card__info__number{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.dashboard__card__info__number b{
  font-size: 5rem;
}
.dashboard__card__info__number span{
  font-size: 3rem;
}
.dashboard__last-donations{
  height: 20rem;
  overflow-y: scroll;
}
/* ------totals------- */
.dashboard__totals{
  display: flex;
  justify-content: start;
  align-items: flex-start;
  margin-bottom: 2rem;
}
.dashboard__totals__card h1{
  color: #60718B;
  font-weight: bold;
}
.dashboard__totals__card b{
  color: #7A8A9A;
}
.dashboard__totals__card{
  border-left: 1px solid #7A8A9A;
  width: 20%;
  text-align: center;
}
.dashboard__totals__card:first-child{
  border: none;
}