.files-displayer{
  margin-top: 2rem,
}
.files-displayer__filesc {
  width: 44%;
}
.files-displayer__files__list{
  list-style: none;
}
.files-displayer__list__item{
  padding: 0rem 2rem;
  border-radius: .4em;
  display: flex;
  margin-bottom: 1rem;
  justify-content: space-between;
  background-color: #dfe6e9;
}
.files-displayer__list__item-actions span{
  margin-left: .5rem;
  display: inline-block;
  cursor: pointer;
}
.files-displayer__list__item-actions{
 display: flex;
}