.profile__title{
  margin-left: 3.3rem;
}
.profile__btn{
  margin-left: 3.3rem;
  width: 150px;
}
.profile__form-group{
  width: 20%;
}
.emails__true{
  background-color: #2ecc71;
  padding: .2rem .9rem;
  border-radius: 1.4rem;
  text-align: center;
  color: #fff;
}
.emails__false{
  background-color: #e74c3c;
  padding: .2rem .9rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1.4rem;
  color: #fff;
}
.emails__icon{
  color: #e74c3c
}
.emails__add{
  margin-top: 2rem;
}
.emails__icon{
  cursor: pointer;
  float: right;
}
.profile__table__emails{
  width: 100%;
  table-layout: fixed
}
.profile__avatar{
 margin-left: 5rem;
 margin-right:  5rem;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 width: 173px;
}

/*----------------*/
.profile__upload-btn-wrapper {
  margin-top: .6rem;
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.profile__upload--btn {
  border: 2px solid #efefef;
  color: gray;
  background-color: white;
  padding: 0 18px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: bold;
}

.profile__upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: pointer;
  opacity: 0;
}