:root{
  --main-color:#222;
  --err-color:#e74c3c;
  --info-color:#3498db;
}
.cases {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cases__table{
  display: inline-block;
  width: 100%;
}
.cases__table .button {
  margin: 0 5px;
}
.cases__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top {
  top: 40px;
}
.pull-right {
  float:right
}
.cases_actions{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}