
.view__table{
  border-collapse: collapse;
  width: 100%;
  font-size: 1.5rem;
  table-layout: fixed;
  margin-top: 2rem;
}
.view__table , .view__table td{
  word-wrap:break-word;
  text-align: left;
  vertical-align: top;
}
.view__table td{
  padding: 1rem;
}
.view__with-back{
  justify-content: space-between;
  display: flex;
  align-items: flex-start;
}
.form__spinner{
  margin: 50% 50% ;
}