.verifyemail {
  width: 80vw;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.verifyemail__verifying {
  font-size: 3rem;
}

.verifyemail__verified {
  font-size: 5rem;
  color: green;
}

.verifyemail__verified--icon {
  color: green;
  margin-bottom: -2rem;
}

.verifyEmail__link {
  display: block;
  font-size: 2rem;
  text-align: center;
}