.homeDetailes__wc__box{
  width: 27rem
}
.homeDetailes__rooms__box{
  width: 27rem;
  margin-right: 1rem;
}
.homeDetailes__rent__value{
  width: 7.2rem;
  display: inline-block;
  margin-left: 1rem;
}
.homeDetailes__others__value{
  width: 15rem;
}
.form__err{
  text-align: center;
  color: #e74c3c;
}
.form__with-back{
  justify-content: space-between;
  display: flex;
  align-items: flex-start;
}

.form__spinner{
  margin: 50% 50% ;
}
.form__age__number{
  width: 9rem;
  margin-right: 1rem;
}