.layout__sider{
  overflow: auto;
  height: 100vh;
  position: fixed;
  left: 0;
}
.layout__link{
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 100;
  color: #fff
}
.layout__logo{
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: .2rem 0
}
.layout__logo a{
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
  text-decoration: none;
}
