.donatetion__com div{
  margin-right: 1rem;
}
.donatetion__com-size{
  width: 21rem;
}
.donation__form{
  margin-top: 3rem;
}

.donation__table--confirm{
  border-collapse: collapse;
  table-layout: fixed;
}
.donation__table--confirm , .donation__table--confirm td{
  word-wrap:break-word;
  text-align: left;
  vertical-align: top;
}
.donation__table--confirm td{
  padding: .6rem;
}