.families__form__select{
  width: 27rem
}
.Family__id__number{
  width: 27rem
}
.re-add-button{
  margin-right: 1rem;
}
.form__err{
  text-align: center;
  color: #e74c3c;
}
.form__with-back{
  justify-content: space-between;
  display: flex;
  align-items: flex-start;
}

.form__spinner{
  margin: 50% 50% ;
}
.form__age__number{
  width: 9rem;
  margin-right: 1rem;
}