.case__form-flex {
  display: flex;
}

.form__select {
  width: 16rem
}

.form__err {
  text-align: center;
  color: #e74c3c;
}

.form__with-back {
  justify-content: space-between;
  display: flex;
  align-items: flex-start;
}
.form__spinner{
  margin: 50% 50% ;
}

.bp3-popover-target {
  width: 100%;
  max-width: 100%;
}

.org__spinner {
  margin-top: 10rem;
}

.form__map {
  margin-bottom: 10rem;
}

.case__form-group {
  margin: 1rem .4rem;
}
.case__files{
  list-style: none;
}
.case__files li{
  color: green;
  padding: 0 1rem;
}

/*----------------*/
.case__upload-btn-wrapper {
  margin-top: .6rem;
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.case__upload--btn {
  border: 2px solid #efefef;
  color: gray;
  background-color: white;
  padding: 0 18px;
  border-radius: 8px;
  font-size: 15px;
}

.case__upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: pointer;
  opacity: 0;
}