.leaflet-container {
    height: 400px;
    width: 80%;
    margin: 0 auto;
}
.leaflet-center {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.leaflet-control-geosearch, .leaflet-control-geosearch ul {
    border-radius: 7px;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.25);
    margin: 10px 0 0 0;
    padding: 5px;
    width: 100%;
    height: auto;
}
.leaflet-control-geosearch-msg ul {
    list-style: none;
    display: none;
    height: auto;
    background: none;
    padding: 0;
}
.leaflet-control-geosearch ul li {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.75);
    border-radius: 4px;
    margin: 2px 0;
    padding: 4px;
    font: 12px arial;
    text-indent: 4px;
}
.leaflet-container .leaflet-control-geosearch input {
    width: 100%;
    height: 28px;
    padding: 0;
    text-indent: 8px;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 4px;
    border: none;
}
.reset {
    display: none !important;
}
.leaflet-bar-part.leaflet-bar-part-single {
    display: none !important;
}
.results.active {
    padding: 3px;
    background: #ffffff6b;
    max-height: 250px;
    overflow-y: auto;
}
.results.active div {
    border: 1px solid #979797;
    margin: 2px;
    padding: 4px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}
.leaflet-top.leaflet-left {
    max-width: 245px;
    max-height: 100px;
}
