.google-map__marker {
  font-size: 40px;
  color: #2c3e50;
  margin: 0;
  padding: 0;
  height: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  border: 1px solid red;
}

.google-map__search-box {
  padding: 3px 16px;
  margin-bottom: 10px;
  font-weight: 500;
  border: 1px solid #ddd;
  width: 100%;
  font-size: 13px;
}
.google-map__note{
  color: gray;
  font-size: 13px;
}