.notfound__h1{
  font-size: 8rem;
}
.notfound{
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 80vw;
  height: 50vh;
}
.notfound__h3{
  font-size: 2rem;
}